.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/cvb.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-1 .u-image-1 {
  width: 168px;
  height: 168px;
  margin: 114px auto 0;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 697px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  font-style: italic;
  width: 739px;
  margin: 49px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  font-style: normal;
  width: 467px;
  margin: 42px auto 0;
}

.u-section-1 .u-form-1 {
  height: 49px;
  width: 497px;
  margin: 65px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  line-height: 1.8;
  text-transform: none;
  width: 589px;
  margin: 71px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  margin-top: 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 195px 892px 55px -46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-text-5 {
    width: 589px;
    margin-right: 792px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 682px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    width: 540px;
    margin-right: 592px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 68px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: 57px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
    margin-top: 55px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
    margin-right: 492px;
  }
}